{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="hero">
    <h2>Welcome to Planteer</h2>
    <p>Explore a vast collection of unique plants and discover their uses and secrets.</p>
    <a class="btn-primary btn" href="{% url 'plants:all_plants_view' %}">Discover Our Plants</a>
</div>



<section class="newest">
    <h2>Discover Our Latest Plants</h2>
    <br>
    {% include 'plants/plants_list.html' %}

</section>


{% endblock %}